body{
    padding: 0;
    margin: 0;
    background: linear-gradient(rgba(179, 176, 176, 0.85), lightgray), url(Images/orellion1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* .container {
    width: 33%;
    height: 230px;
    border-radius: 20px;
    margin-top: 8%;
    padding: 40px;
    box-sizing: border-box;
    background: linear-gradient(rgb(12, 147, 192), blue);
    box-shadow: 5px 5px 15px rgb(12, 147, 192), -5px -5px 15px blue;
  } */

  /* .inputs {
    text-align: left;
    margin-top: 30px;

  } */
  
 input {
    display: block;
    width: 100%;
    padding: 0;
    border: none; 
    outline: none;
    box-sizing: border-box;
  }
  
  input::placeholder {
    color: gray;
    text-align: center;
  }
  
  input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    margin-top: 20%;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 3px 3px 4px #cbced1, inset -3px -3px 4px white;
  }

  .btn-proceed {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background: white;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    color: black;
    font-size: 15px;
    width: 40%;
    display: block;
    width: 100%;
    padding: 0;
    border: none; 
    outline: none;
    box-sizing: border-box;
  }

  button:hover {
    background-color: black;
    color: white;
  }

  a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    color:whitesmoke;
  }
  
  @media screen and (max-width:900px){
    input {
        background: #ecf0f3;
        padding: 10px;
        padding-left: 20px;
        height: 50px;
        /* margin-top: 50%; */
        font-size: 14px;
        border-radius: 50px;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
      }
  }