
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Receipt</title>
    </head>
    <body>
        {{Receipt}}
        <h1>Receipt</h1>
        <!-- <table>
            <tr>
                <th>Name</th>
                <td>{{ form.Payer_Name }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ form.Amount }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ form.Service }}</td>
            </tr>
        </table> -->
    </body>
</html>
