
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Receipt</title>
    </head>
    <body>
        { for i in transaction }
            {{transaction.Name}}
        <h1>Receipt</h1>
        <!-- <table class="table">
            <thead>
              <tr>
                <th class="theader">DATE</th>
                <th class="theader">NAME</th>
                <th class="theader">SERVICE</th>
                <th class="theader">AMOUNT</th>
                <th class="theader">REFRENCE</th>
              </tr>
            </thead>
            <tbody>
          
              {% for i in Transaction %}
              <tr>
                <td>{{i.Date}}</td>
                <td>{{i.Payer_Name}}</td>
                <td>{{i.Service}}</td>
                <td>{{i.Amount}}</td>
                <td>{{i.id}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table> -->
     </body> 
</html>
